::-webkit-scrollbar {
  display: none;
}

.App{
  display: flex;
  background-color: rgb(242, 242, 242);
}

.right-div{
  width: 100%;
}

.left-bar{
  position: absolute;
  width: 3%;
  right: 0px;
  opacity: 1;
  z-index: 100;
  /* height: 100%; */
  /* border: 2px solid black; */
  /* background-color:black; */
  color: white;
}

.scroller {
  height: 100px;
  max-width: 98vw;
  transform: rotate(-3deg);
  overflow: hidden;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 10%, white 90%, transparent);
}

.scroller__inner {
  padding-block: 1rem;
  display: flex;
  flex-wrap: nowrap;
  gap: 1rem;
  width: max-content;
  transform: translateX(0);
}

@keyframes scroll-left {
  to {
    transform: translateX(calc(-50% - 0.5rem));
  }
}

@keyframes scroll-right {
  to {
    transform: translateX(calc(50% + 0.5rem));
  }
}


/* .scroller[data-direction="right"] {
  --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
  --_animation-direction: forwards;
}

.scroller[data-speed="fast"] {
  --_animation-duration: 20s;
}

.scroller[data-speed="slow"] {
  --_animation-duration: 60s;
} */

.tag-list {
  margin: 0;
  padding-inline: 0;
  color: black;
  list-style: none;
  /* border: 2px solid black; */
  background-color: white;
}
.tag-list li {
  color: black;
  /* font-weight: 600; */
  padding: 0rem 5rem;
  font-size: 1.6rem;
  display: inline-flex;
  align-items: center;
  /* text-align: center; */
  font-family: Arial, Helvetica, sans-serif;
  background: var(--clr-primary-400);
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem -0.25rem var(--clr-primary-900);
}

.test {
  background: red !important;
}

/* img{
  width: 39px;
  padding-right: 10px;
} */

.v-scroller {
  /* max-height: 100%; */
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-items: center;
  opacity: 0;
  /* opacity: 1; */
  background-color:black;
  flex-direction: column;
}

.v-tag-list {
  list-style: none;
  padding: 0px;
  margin: 0px;
  
}

.v-tag-list li {
  padding: 10px 0px;
  margin: 0px 0px;
  font-size: 25px;
  color: white;
  font-weight: 400;
  font-family: 'Black ops One';
  writing-mode: vertical-rl;
  text-transform: uppercase;
  /* animation: move 1s ease infinite alternate; */
}
/* 
@keyframes move {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-100px);
  }
} */

